---
apiVersion: cluster.x-k8s.io/v1beta1
kind: Cluster
metadata:
  name: "{{ .ClusterID }}"
  namespace: "cluster-{{ .ClusterID }}"
spec:
  clusterNetwork:
    pods:
      cidrBlocks: ["192.168.0.0/16"]
  controlPlaneRef:
    apiVersion: controlplane.cluster.x-k8s.io/v1beta2
    kind: AWSManagedControlPlane
    name: "{{ .ClusterID }}-control-plane"
  infrastructureRef:
    apiVersion: infrastructure.cluster.x-k8s.io/v1beta2
    kind: AWSManagedCluster
    name: "{{ .ClusterID }}"
---
apiVersion: infrastructure.cluster.x-k8s.io/v1beta2
kind: AWSManagedCluster
metadata:
  name: "{{ .ClusterID }}"
  namespace: "cluster-{{ .ClusterID }}"
spec: {}
---
apiVersion: controlplane.cluster.x-k8s.io/v1beta2
kind: AWSManagedControlPlane
metadata:
  name: "{{ .ClusterID }}-control-plane"
  namespace: "cluster-{{ .ClusterID }}"
spec:
  addons:
    - name: "aws-ebs-csi-driver"
      version: "v1.14.1-eksbuild.1"
    - name: "vpc-cni"
      version: "v1.12.1-eksbuild.1"
      conflictResolution: "overwrite"
  associateOIDCProvider: {{ .ControlPlane.AWS.AssociateOIDCProvider }}
  eksClusterName: "{{ .ClusterID }}"
  logging:
    apiServer: {{ .ControlPlane.AWS.Logging.ApiServer }}
    audit: {{ .ControlPlane.AWS.Logging.Audit }}
    authenticator: {{ .ControlPlane.AWS.Logging.Authenticator }}
    controllerManager: {{ .ControlPlane.AWS.Logging.ControllerManager }}
    scheduler: {{ .ControlPlane.AWS.Logging.Scheduler }}
  network:
    vpc:
      availabilityZoneSelection: {{- if ne .Networks.AvailabilityZoneSelection "" }} {{ .Networks.AvailabilityZoneSelection }} {{ else }} Ordered {{ end }}
      availabilityZoneUsageLimit: {{- if ne .Networks.AvailabilityZoneUsageLimit 0 }} {{ .Networks.AvailabilityZoneUsageLimit }} {{ else }} 3 {{ end }}
  {{- if ne .Networks.CidrBlock "" }}
      cidrBlock: {{ .Networks.CidrBlock }}
  {{- end }}
  {{- if isNotEmpty .Networks.IPv6 }}
      ipv6:
      {{- if ne .Networks.IPv6.CidrBlock ""}}
        cidrBlock: {{ .Networks.IPv6.CidrBlock }}
      {{- end }}
      {{- if ne .Networks.IPv6.PoolId ""}}
        poolId: {{ .Networks.IPv6.PoolId }}
      {{- end }}
      {{- if ne .Networks.IPv6.EgressOnlyInternetGatewayId ""}}
        egressOnlyInternetGatewayId: {{ .Networks.IPv6.EgressOnlyInternetGatewayId }}
      {{- end }}
  {{- end }}
  {{- if isNotEmpty .Networks.Tags }}
      tags:
    {{- range $key,$value := .Networks.Tags }}
      - $key: $value
    {{- end}}
  {{- end }}
{{- if ne .Networks.VPCID "" }}
      id: {{ .Networks.VPCID }}
    {{- if ne .Networks.Subnets nil }}
    subnets:
    {{- range .Networks.Subnets }}
      - id: {{ .SubnetId }}
      {{- if ne .AvailabilityZone "" }}
        availabilityZone:  {{ .AvailabilityZone }} 
      {{- end }}
      {{- if ne .CidrBlock "" }}
        cidrBlock:  {{ .CidrBlock }} 
      {{- end }}
      {{- if ne .Ipv6CidrBlock "" }}
        ipv6CidrBlock:  {{ .Ipv6CidrBlock }} 
      {{- end }}
      {{- if ne .RouteTableId "" }}
        routeTableId:  {{ .RouteTableId }} 
      {{- end }}
      {{- if ne .NatGatewayId "" }}
        natGatewayId:  {{ .NatGatewayId }} 
      {{- end }}
      {{- if checkReference .IsIPv6 }}
        isIpv6: {{ .IsIPv6 }}
      {{- end }}
      {{- if checkReference .IsPublic }}
        isPublic: {{ .IsPublic }}
      {{- end }}
      {{- if isNotEmpty .Tags }}
        tags:
      {{- range $key,$value := .Tags }}
        - $key: $value
      {{- end}}
      {{- end }}
    {{- end }}
    {{- end }}
{{- end }}
  region: "{{ .Region }}"
  sshKeyName: \"{{ .SSHKey }}\"
  version: "{{ .K8SVersion }}"
  vpcCni:
    env:
      - name: ANNOTATE_POD_IP
        value: \"true\"
{{- range $node := .WorkerNodes }}
{{- range $index, $n := loop .AZ .Quantity .NodeGroupMaxSize .NodeGroupMinSize}}
---
apiVersion: cluster.x-k8s.io/v1beta1
kind: MachineDeployment
metadata:
{{- if $.DeployAutoscaler }}
  annotations:
  {{- if $node.NodeGroupMaxSize }} 
    cluster.x-k8s.io/cluster-api-autoscaler-node-group-max-size: '{{ $n.MaxSize }}'
  {{- end }}
  {{- if $node.NodeGroupMinSize }} 
    cluster.x-k8s.io/cluster-api-autoscaler-node-group-min-size: '{{ $n.MinSize }}' 
  {{- end }}
{{- end }}
  name: "{{ $node.Name }}-md-{{ $index }}"
  namespace: "cluster-{{ $.ClusterID }}"
spec:
  clusterName: "{{ $.ClusterID }}"
  replicas: {{ $n.QA }}
  selector:
    matchLabels:
  template:
    spec:
      clusterName: "{{ $.ClusterID }}"
      version: "{{ $.K8SVersion }}"
      failureDomain: "{{- if $node.AZ -}} {{ $n.AZ }} {{- else -}} {{ $.Region }}{{ $n.AZ }} {{- end }}"
      bootstrap:
        configRef:
          name: "{{ $node.Name }}-md-{{ $index }}"
          apiVersion: bootstrap.cluster.x-k8s.io/v1beta2
          kind: EKSConfigTemplate
      infrastructureRef:
        name: "{{ $node.Name }}-md-{{ $index }}"
        apiVersion: infrastructure.cluster.x-k8s.io/v1beta2
        kind: AWSMachineTemplate
---
apiVersion: infrastructure.cluster.x-k8s.io/v1beta2
kind: AWSMachineTemplate
metadata:
  name: "{{ $node.Name }}-md-{{ $index }}"
  namespace: "cluster-{{ $.ClusterID }}"
spec:
  template:
    spec:
    {{- if $node.Spot }}
      spotMarketOptions:
        maxPrice: \"\"    {{ end }}
    {{- if ne $node.AmiID "" }}
      ami:
        id: {{ $node.AmiID }}
    {{- end }}
      iamInstanceProfile: "nodes.cluster-api-provider-aws.sigs.k8s.io"
      instanceType: "{{ $node.Size }}"
      sshKeyName: \"{{ $node.SSHKey }}\"
      rootVolume:
        size: {{- if $node.RootVolume.Size }} {{ $node.RootVolume.Size }} {{ else }} 20 {{ end }}
        type: {{- if $node.RootVolume.Type }} {{ $node.RootVolume.Type }} {{ else }} gp2 {{ end }}
        encrypted: {{ $node.RootVolume.Encrypted }}
---
apiVersion: bootstrap.cluster.x-k8s.io/v1beta2
kind: EKSConfigTemplate
metadata:
  name: "{{ $node.Name }}-md-{{ $index }}"
  namespace: "cluster-{{ $.ClusterID }}"
spec:
  template: {}
{{- end }}
{{- end }}
