# Copyright 2019 The Kubernetes Authors.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

# minimal config file to avoid haproxy exiting due to invalid / missing config
# kind will rewrite this config at runtime
global
    # limit memory usage to approximately 18 MB
    maxconn 100000

frontend controlPlane
    bind 0.0.0.0:6443
    mode tcp
    default_backend kube-apiservers

backend kube-apiservers
    mode tcp
