html {
  width: 100%;
  font-size: 18px;
  line-height: 1;
  -webkit-font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: grayscale !important;
  text-rendering: optimizeLegibility !important;
  -webkit-tap-highlight-color: transparent;
  height: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
  font-size: 100%;
  background-color: white;
  color: black;
  font-family: -apple-system, BlinkMacSystemFont, “Roboto”, “Droid Sans”, “Helvetica Neue”, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

code, pre {
  font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, Roboto Mono, Courier, monospace;
}

body {
  width: 100%;
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 1.5;
  min-height: 100%;
  /* sticky footer */
  display: flex;
  flex-direction: column;
  background-color: white;
}

#wrapper {
  background-color: white;
  max-width: 100%;
  clear: both;
  overflow-x: hidden;
  flex: 1 0 auto;
  margin: 0 0.3em;
}

#content {
  margin: 0 auto;
  width: 100%;
  max-width: 50em;
}

pre {
  background-color: #f3f4f4 !important;
  overflow-x: scroll;
  border-radius: 5px;
  padding: .5em;
}

code {
  background-color: #f3f4f4;
  border-radius: 3px;
  padding: 0 .25em;
}

pre code {
  background-color: transparent;
  padding: 0;
}

#content img {
  max-width: 100%;
}

/* mobile */
@media (max-width: 50em) {
  pre {
    font-size: 14px;
  }
  code {
    font-size: 16px;
  }
}

.hanchor { 
  font-size: 100%;
  visibility: hidden;
  font-size: .5em;
  color: blue;
  vertical-align: middle;
  text-decoration: none !important;
}
h1:hover a, h2:hover a, h3:hover a, h4:hover a { 
  visibility: visible;
}
