cli:
  image: {{ if $.Private }}{{ $.KeosRegUrl }}{{ else }}ghcr.io{{ end }}/fluxcd/flux-cli
  tag: v2.7.5

helmController:
  image: {{ if $.Private }}{{ $.KeosRegUrl }}{{ else }}ghcr.io{{ end }}/fluxcd/helm-controller
  tag: v1.4.5
  annotations:
    cluster-autoscaler.kubernetes.io/safe-to-evict-local-volumes: temp
    cluster-autoscaler.kubernetes.io/safe-to-evict: "true"
  container:
    additionalArgs:
      - --concurrent=50

imageAutomationController:
  create: false

imageReflectionController:
  create: false

kustomizeController:
  image: {{ if $.Private }}{{ $.KeosRegUrl }}{{ else }}ghcr.io{{ end }}/fluxcd/kustomize-controller
  tag: v1.7.3
  container:
    additionalArgs:
      - --concurrent=50

notificationController:
  create: false

sourceWatcher:
  create: false

policies:
  create: false

sourceController:
  image: {{ if $.Private }}{{ $.KeosRegUrl }}{{ else }}ghcr.io{{ end }}/fluxcd/source-controller
  tag: v1.7.4
  annotations:
    cluster-autoscaler.kubernetes.io/safe-to-evict-local-volumes: data,tmp
    cluster-autoscaler.kubernetes.io/safe-to-evict: "true"
