{{ $file := .Get "file" }}
{{ $lang := "" }}
{{ $suffix := findRE "(\\.[^.]+)$" $file 1 }}
{{ with $suffix }}
  {{ $lang = (index . 0 | strings.TrimPrefix ".") }}
{{ end }}
{{ with .Get "lang" }}{{ $lang = . }}{{ end }}
{{ $virtualPath := strings.TrimPrefix "static/" $file }}
<table class="includecode" id="code-{{ $virtualPath }}">
  <thead>
    <tr>
      <th>
        <a href="/{{ $virtualPath }}">{{ $virtualPath }}</a>
        <button onclick='copyText("code-{{ $virtualPath }}-hidden-copy-text", "button-{{ $virtualPath }}");' title="Copy to clipboard">
          <img src="site/static/copycode.svg" alt="Copy">
        </button>
        
        <span class="copy-success" id="button-{{ $virtualPath }}-success"></span>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>{{- highlight (trim ($file | readFile) "\n") $lang "" -}}</td>
    </tr>
  </tbody>
  <textarea class="hidden-copy-text" id="code-{{ $virtualPath }}-hidden-copy-text">{{ $file | readFile }}</textarea>
</table>

<script>
  function copyText(elementId, successElementId) {
    const textarea = document.getElementById(elementId);
    textarea.select();
    document.execCommand("copy");
  
    // Add visual confirmation
    const tickElement = document.getElementById(`${successElementId}-tick`);
    tickElement.classList.remove("hidden-tick");
    setTimeout(() => {
      tickElement.classList.add("hidden-tick");
    }, 2000);
  }
</script>
