{{ $code := trim .Inner  "\n"  }}
{{ $lang := "" }}
{{ with .Get "lang" }}{{ $lang = . }}{{ end }}
{{ $hash := md5 $code }}
<table class="includecode" id="inline-code-{{ $hash }}">
  <thead>
  <tr>
    <th>
      <button id="copy-button-inline-code-{{ $hash }}" onclick='copyText("inline-code-{{ $hash }}-hidden-copy-text");' title="Copy to clipboard">
        &#128203; <!-- Initial copy button icon -->
      </button>
    </th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>{{ highlight $code $lang "" }}</td>
  </tr>
  </tbody>
  <textarea class="hidden-copy-text" id="inline-code-{{ $hash }}-hidden-copy-text">{{ $code }}</textarea>
</table>

<script>
  function copyText(elementId) {
    const textarea = document.getElementById(elementId);
    textarea.select();
    document.execCommand("copy");
  
    // Add visual confirmation
    const button = document.getElementById(`copy-button-${elementId}`);
    button.innerHTML = "&#10004; Copied";
    setTimeout(() => {
      button.innerHTML = "&#128203;"; // Reset the button text after a delay
    }, 2000);
  }
  </script>